/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/06/2020, 11:59:02 AM
    Author     : Admin
*/
/*-------------------------------------------------*/
/*Formulario Registrar*/

.formularioTablas{
    width:20%; 
    margin: 3%;
    margin-left: 18%;
    padding: 20px;
    background: #1F2D41;
    border-radius: 4px;
    font-family: arial;
    color: white;
    position: relative;
}
h4{
    font-size: 35px;
    margin-bottom: 20px;
    margin: 20px;
    text-align: center;
}
.formularioTablas input{
    display: block;
    font-size: 20px;
    width: 90%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid white;
    font-family: calibri;
}
.selectFormulario{
    display: block;
    font-size: 20px;
    width: 95%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid white;
    font-family: calibri; 
}
button{
    width: 95%;
    border: none;
    padding: 15px;
    background: #09B6B6;
    color: white;
    font-family: calibri;
    font-size: 20px;
}
button:hover{
    background:#0B8A8A; 
}
.imagenRegistrar img{
    margin-left: 40%;
    margin-top: -80%;
    padding: 10%;

}
.formularioTablas a{
    text-decoration: none;
    color: #00cccc;
    font-weight: 600;
}
.formularioImg img{
    width: 100%;
    height: 90%;
    position: absolute;
    margin: 0%;
     filter: blur(6px);
}



