/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/06/2020, 05:03:02 PM
    Author     : Admin
*/
body{
    margin: 0;
    padding: 0;   
}
header{
    margin: 0%;
    padding: 20px;
    background: #1F2D41;
}
/*Menu de navegacion*/
.logo img{
   width:12%;
   margin-right:35%;
   margin-top: -3%;
   position: absolute;
   
}
.menu{
    list-style:  none;
    padding: 0;
    text-align: right;
    margin: auto;
    
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 40px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
    font-family: arial;
    font-size: 20px;
}
.menu li a:hover{
    color:#00cccc;
    transition: all .3s;
}
li {
    position: relative;
    color: #333;
    text-decoration: none;
}
li:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    transition: all .5s;
}
li:hover:after {
    width: 100%;
    background: #00cccc;
}
.submenu{
    position: absolute;
    background: #00cccc;
    display: none;
    width: 100%;
   
}
.submenu li a{
    text-decoration: none;
    display: block;
    padding: 15px;
}
.menu li:hover .submenu{
    text-decoration: none;
    display: block;
    padding: 15px;
    background: #31839D;
}

/*---------------------------------------------*/
/*section slider*/
.slider {
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 15s infinite alternate linear;
    margin: 0;
}

.slider li{
    width: 100%;
    list-style: none;
}
.slider video {
    margin-top: 0;
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    30% {margin-left: 0;}

    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
}
    
/*Circulo contenido*/
.divCirculares{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.row{
    display: flex;
}
.col-lg-4{
    width: 100%;
  
}
.imagenCircular{
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.col-lg-4:hover .imagenCircular{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
}
.col-lg-4 h2{
    font-family: arial;
    font-weight: 300;
    font-size: 30px;   
}
.col-lg-4 p{
    font-family: arial;
    font-size: 15px;  
}
.verDetalles{
    text-decoration: none;
    font-family: arial;
    font-size: 17px; 
    background-color: #09B6B6;
    border-radius: 6px;
    padding: 13px;
    color: white;
}
.verDetalles:hover{
    background:#0B8A8A; 
}

/*---------------------------------------------*/
/*Footer*/
footer{
    background: #1F2D41;
    text-align: center;
}
.footerCont{
    color: white;
    display: flex;
    text-align: center;
    margin: 0 auto;
}
.column{
    margin-left: 15%;    
}
.column p,h3{
    font-family: arial;
    font-size: 25px;
}


