/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/06/2020, 07:40:14 PM
    Author     : Admin
*/
.Perfil{
    height: 50%;
    width: 100%;
    margin-top: 10%;
}
.infoPersonal{
    margin-bottom: 10%;
    margin-top: 2%;
    margin-left: 25%;
    
}
.tablasPerfil{
    width: 40%;
    float: left;
    margin-bottom: 20%;
    margin-right: 10%;
}
.Calificaciones{
    margin-left: 3%;
}
.tablasPerfill{
    width: 50%;
    
}

.perLaboral{
    margin-left: 3%;
    width: 50%;
    float: left;
}
.Tituloth{
    text-align: center;
    background: #18576B;
    color: white;
    font-family: 'RobotoCondensedLight'; 
}
.Perfil td{
    font-family: 'RobotoCondensed';
    padding: 10px;
}
#CerrarSesion{
    color: white;
    background: #31839D;
    font-size: 20px;
    font-family: Calibri;
    outline: none;
    border: 0;
}
/*barra de notificaciones*/
