	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/08/2020 16:31
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon.eot");
  src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon.woff2") format("woff2"),
       url("../fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-lavadora:before { content: "\f100"; }
.flaticon-aspiradora:before { content: "\f101"; }
.flaticon-planchar:before { content: "\f102"; }
.flaticon-limpiador:before { content: "\f103"; }
.flaticon-aerosol-de-limpieza:before { content: "\f104"; }
.flaticon-aerosol-de-limpieza-1:before { content: "\f105"; }
.flaticon-seguridad-de-datos:before { content: "\f106"; }
.flaticon-empleada:before { content: "\f107"; }
.flaticon-calendario:before { content: "\f108"; }
.flaticon-limpieza:before { content: "\f109"; }