	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/08/2020 16:31
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("fonts/flaticon2/font/Flaticon.eot");
  src: url("fonts/flaticon2/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/flaticon2/font/Flaticon.woff2") format("woff2"),
       url("fonts/flaticon2/font/Flaticon.woff") format("woff"),
       url("fonts/flaticon2/font/Flaticon.ttf") format("truetype"),
       url("fonts/flaticon2/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/flaticon2/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-calendario:before { content: "\f100"; }
.flaticon-empleado:before { content: "\f101"; }
.flaticon-candado:before { content: "\f102"; }