/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2020, 03:07:08 PM
    Author     : Admin
*/

.profile-img{
    text-align: center;
}

.profile-img img{
    width: 25%;
    height: 50%;
    display:block;
    margin:auto;    
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -10%;
    width: 25%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.file:hover{
    background: #007fff;
}
