@media (max-width:1619px){

	.banner_area .box_1620 {
		border-radius: 0px;
	}
}
@media (max-width:1300px){
	.testimonials_area .owl-prev, .testimonials_area .owl-next {
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		bottom: 25px;
		top: auto;
	}
	.testimonials_area .owl-prev{
		transform: rotate(90deg);
	}
	.testimonials_area .owl-next{
		transform: rotate(90deg);
		margin-left: -40px;
	}
}
@media (max-width:1199px){

	/* End Home Banner Area css
	============================================================================================ */
	.banner_content .media{
		display: block;
	}
	.home_banner_area .banner_content{
		max-width: 500px;
		margin: auto;
	}
	.home_banner_area .banner_inner .banner_content .media .d-flex {
		padding-right: 0px;
		display: block;
		width: 100%;
	}
	.home_banner_area .banner_inner .banner_content .media .d-flex img {
		width: 100%;
		height: 100%;
	}
	.home_banner_area .banner_inner .banner_content .media .media-body {
		margin-top: 30px;
	}
	.home_banner_area .box_1620 {
		bottom: -130px;
	}
	.profile_inner .personal_text {
		padding-left: 0px;
	}
	.home_banner_area.blog_banner .banner_inner{
		min-height: 728px;
	}
	.home_banner_area.blog_banner {
		margin-bottom: 0px;
	}
}
