@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,500,600,700,800);
@font-face {
    font-family: MontserratLight;
    src: url(../fonts/MontserratLight.eot);
    src: url(../fonts/MontserratLight.eot) format('embedded-opentype'), url(../fonts/MontserratLight.woff2) format('woff2'), url(../fonts/MontserratLight.woff) format('woff'), url(../fonts/MontserratLight.ttf) format('truetype'), url(../fonts/MontserratLight.svg#MontserratLight) format('svg')
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular) format('svg')
}

.correoRecuperar{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: 45px;
    color: black;
}
.ti-plus{
    font-size: 28px;
}
.ti-plus-hover:hover{
    font-size: 40px;
}
footer
.icon-name {
    color: #000
}
logo
.card-body {
    background: #fff
}

.card {
    background: #fff;
    margin: 7.5px 0;
    padding: 20px;
    border-radius: 0
}

.card-header h4 {
    display: inline-block;
    font-weight: 500;
    color: #2CB1EF;
    font-size: 30px;
}

.card-header p {
    font-family: MontserratLight, sans-serif;
    margin-bottom: 12px
}

.card-header-right-icon {
    display: inline-block;
    float: right
}

.bienPa{
    font-size: 90px;
    font-weight: 900;
}
.nombrePa{
    font-size: 45px;
    font-weight: 400;
    margin-right: 30px;
}
.introPa{
    font-size: 20px;
    text-align: center;
    font-weight: 400;

}
.card-header-right-icon li {
    float: right;
    padding-left: 14px;
    color: #252525;
    cursor: pointer;
    vertical-align: middle;
    transition: all .5s ease-in-out;
    display: inline-block
}

.card-header-right-icon li .ti-close {
    font-size: 12px
}

.card-option {
    position: relative
}

.card-option-dropdown {
    display: none;
    left: auto;
    right: 0
}

.card-option-dropdown li {
    display: block;
    float: left;
    width: 100%;
    padding: 0
}

.card-option-dropdown li a {
    line-height: 25px;
    font-size: 12px
}

.card-option-dropdown li a i {
    margin-right: 10px
}

.doc-link {
    float: right;
    position: relative;
    transition: all .5s ease-in-out
}

.doc-link:focus:after,
.doc-link:hover:after {
    opacity: 1;
    visibility: visible
}

.doc-link:after {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    content: "Documentation";
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    right: -30px;
    top: -30px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out
}

.badge {
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 4px
}

.badge-primary {
    background: #03a9f5;
    color: #fff
}

.badge-success {
    background: #1de9b6;
    color: #fff
}

.badge-info {
    background: #03a9f4;
    color: #fff
}

.badge-warning {
    background: #f39c12;
    color: #fff
}

.badge-danger {
    background: #e74c3c;
    color: #fff
}

.badge-pink {
    background: #e6a1f2;
    color: #fff
}

.badge-dark {
    background: #545454;
    color: #fff
}

.nav-tabs>li>a {
    border-radius: 0;
    padding: 7px 24px;
    margin-right: 0
}

.tab-pane {
    color: #252525;
    line-height: 26px;
    padding-top: 15px
}

.custom-tab .nav-tabs>li.active>a,
.custom-tab .nav-tabs>li.active>a:focus,
.custom-tab .nav-tabs>li.active>a:hover {
    border-color: transparent;
    color: #03a9f5;
    position: relative
}

.custom-tab .nav-tabs>li.active>a:after,
.custom-tab .nav-tabs>li.active>a:focus:after,
.custom-tab .nav-tabs>li.active>a:hover:after {
    background: #03a9f5;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 999
}

.custom-tab .nav>li>a:focus,
.custom-tab .nav>li>a:hover {
    background-color: transparent;
    text-decoration: none;
    border: 1px solid transparent
}

.vertical-tab-left .nav-tabs {
    float: left;
    border-right: 1px solid #e7e7e7;
    border-bottom: 0
}

.vertical-tab-left .nav-tabs>li {
    float: none
}

.vertical-tab-left .nav-tabs>li.active>a,
.vertical-tab-left .nav-tabs>li.active>a:focus,
.vertical-tab-left .nav-tabs>li.active>a:hover {
    background: #03a9f5;
    color: #fff;
    border-color: transparent
}

.vertical-tab-left .nav>li>a:focus,
.vertical-tab-left .nav>li>a:hover {
    background-color: transparent;
    text-decoration: none;
    border: 1px solid transparent
}

.vertical-tab-left .tab-pane {
    padding-top: 0
}

.vertical-tab-right .nav-tabs {
    float: right;
    border-left: 1px solid #e7e7e7;
    border-bottom: 0
}

.vertical-tab-right .nav-tabs>li {
    float: none
}

.vertical-tab-right .nav-tabs>li.active>a,
.vertical-tab-right .nav-tabs>li.active>a:focus,
.vertical-tab-right .nav-tabs>li.active>a:hover {
    background: #03a9f5;
    color: #fff;
    border-color: transparent
}

.vertical-tab-right .nav>li>a:focus,
.vertical-tab-right .nav>li>a:hover {
    background-color: transparent;
    text-decoration: none;
    border: 1px solid transparent
}

.vertical-tab-right .tab-pane {
    padding-top: 0
}

.modal-dialog {
    margin: 30px auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%)!important;
    width: 70%
}

.modal-header .close {
    font-size: 14px;
    margin-right: 15px;
    margin-top: 5px
}

.modal-content {
    border-radius: 3px
}

.timeline {
    list-style: none;
    padding: 20px 0 8px;
    position: relative
}

.timeline:before {
    top: 20px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #e7e7e7;
    left: 25px;
    margin-right: -1.5px
}

.timeline-title {
    margin: 10px 0!important
}

.timeline>li {
    margin-bottom: 5px;
    position: relative
}

.timeline>li:after,
.timeline>li:before {
    content: " ";
    display: table
}

.timeline>li:after {
    clear: both
}

.timeline>li>.timeline-panel {
    width: calc(100% - 70px);
    float: right;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    padding: 5px 20px;
    position: relative
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    left: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-right: 15px solid #e7e7e7;
    border-left: 0 solid #e7e7e7;
    border-bottom: 15px solid transparent;
    content: " "
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    left: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-right: 14px solid #fff;
    border-left: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " "
}

.timeline>li>.timeline-badge {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 8px;
    margin-right: -25px;
    background-color: #e6a1f2;
    z-index: 100;
    border-radius: 50%
}

.timeline-body>p {
    font-size: 12px;
    margin-bottom: 10px
}

.timeline-badge.primary {
    background-color: #03a9f5!important
}

.timeline-badge.success {
    background-color: #1de9b6!important
}

.timeline-badge.warning {
    background-color: #f39c12!important
}

.timeline-badge.danger {
    background-color: #e74c3c!important
}

.timeline-badge.info {
    background-color: #03a9f4!important
}

.bootstrap-data-table-panel .dataTables_filter {
    text-align: right
}

.bootstrap-data-table-panel .dataTables_filter .form-control {
    margin-left: 10px
}

.bootstrap-data-table-panel .dataTables_filter .form-control:focus,
.bootstrap-data-table-panel .dataTables_filter .form-control:hover {
    background: 0 0
}

.dataTables_length {
    display: inline-block;
    float: left;
    margin-right: 30px
}

.dt-buttons {
    margin-bottom: 15px
}

.dt-buttons .dt-button {
    background: #fff;
    color: #252525;
    border-color: #e7e7e7;
    margin-right: 10px;
    padding: 7px 20px;
    border-radius: 0
}

.dt-buttons .dt-button.active,
.dt-buttons .dt-button:focus,
.dt-buttons .dt-button:hover:not(.disabled) {
    background: #03a9f5;
    color: #fff
}

a.dt-button:hover:not(.disabled),
button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled) {
    background-color: #03a9f5;
    background-image: none;
    border: 1px solid #03a9f5;
    box-shadow: none;
    color: #fff
}

a.dt-button:focus:not(.disabled),
button.dt-button:focus:not(.disabled),
div.dt-button:focus:not(.disabled) {
    background-color: #03a9f5;
    background-image: none;
    border: 1px solid #03a9f5;
    box-shadow: none;
    color: #fff
}

a.dt-button.active:hover:not(.disabled):not(.disabled),
a.dt-button:active:hover:not(.disabled):not(.disabled),
button.dt-button.active:hover:not(.disabled):not(.disabled),
button.dt-button:active:hover:not(.disabled):not(.disabled),
div.dt-button.active:hover:not(.disabled):not(.disabled),
div.dt-button:active:hover:not(.disabled):not(.disabled) {
    background-color: #03a9f5;
    background-image: none;
    border: 1px solid #03a9f5;
    box-shadow: none;
    color: #fff
}

a.dt-button.active:not(.disabled),
a.dt-button:active:not(.disabled),
button.dt-button.active:not(.disabled),
button.dt-button:active:not(.disabled),
div.dt-button.active:not(.disabled),
div.dt-button:active:not(.disabled) {
    background-color: #03a9f5;
    background-image: none;
    border: 1px solid #03a9f5;
    box-shadow: none;
    color: #fff
}

@media (max-width:767px) {
    .dataTables_length {
        margin-left: 10px
    }
    select.input-sm {
        width: 167px
    }
    .bootstrap-data-table-panel .dataTables_filter {
        margin-left: 12px;
        text-align: left;
        padding-right: 10px
    }
    .bootstrap-data-table-panel .dataTables_filter .form-control {
        margin-left: 0
    }
}

.panel {
    border-radius: 0;
    margin: 15px 0
}

.panel-body {
    font-family: MontserratLight, sans-serif
}

.panel-primary {
    border-color: #03a9f5
}

.panel-primary .panel-heading {
    background: #03a9f5;
    border-color: #03a9f5;
    color: #fff
}

.panel-success {
    border-color: #1de9b6
}

.panel-success .panel-heading {
    background: #1de9b6;
    border-color: #1de9b6;
    color: #fff
}

.panel-info {
    border-color: #03a9f4
}

.panel-info .panel-heading {
    background: #03a9f4;
    border-color: #03a9f4;
    color: #fff
}

.panel-danger {
    border-color: #e74c3c
}

.panel-danger .panel-heading {
    background: #e74c3c;
    border-color: #e74c3c;
    color: #fff
}

.panel-warning {
    border-color: #f39c12
}

.panel-warning .panel-heading {
    background: #f39c12;
    border-color: #f39c12;
    color: #fff
}

.panel-pink {
    border-color: #e6a1f2
}

.panel-pink .panel-heading {
    background: #e6a1f2;
    border-color: #e6a1f2;
    color: #fff
}

.panel-dark {
    border-color: #545454
}

.panel-dark .panel-heading {
    background: #545454;
    border-color: #545454;
    color: #fff
}

.panel-white {
    border-color: #252525
}

.panel-white .panel-heading {
    background: #fff;
    border-color: #252525;
    color: #252525
}

.btn-default {
    background: #878787;
    border-color: #878787;
    color: #fff
}

.btn-default.active,
.btn-default:focus,
.btn-default:hover {
    background: #6e6e6e;
    border-color: #878787;
    color: #fff;
    box-shadow: none
}

.btn-primary {
    background: #03a9f5;
    border-color: #03a9f5;
    color: #fff
}

.btn-primary.active,
.btn-primary:focus,
.btn-primary:hover {
    background: #0286c3;
    border-color: #03a9f5;
    color: #fff;
    box-shadow: none
}

.btn-success {
    background: #1de9b6;
    border-color: #1de9b6;
    color: #fff
}

.btn-success.active,
.btn-success:focus,
.btn-success:hover {
    background: #13c095;
    border-color: #1de9b6;
    color: #fff;
    box-shadow: none
}

.btn-info {
    background: #03a9f4;
    border-color: #03a9f4;
    color: #fff
}

.btn-info.active,
.btn-info:focus,
.btn-info:hover {
    background: #0286c2;
    border-color: #03a9f4;
    color: #fff;
    box-shadow: none
}

.btn-warning {
    background: #f39c12;
    border-color: #f39c12;
    color: #fff
}

.btn-warning.active,
.btn-warning:focus,
.btn-warning:hover {
    background: #c87f0a;
    border-color: #f39c12;
    color: #fff;
    box-shadow: none
}

.btn-danger {
    background: #e74c3c;
    border-color: #e74c3c;
    color: #fff
}

.btn-danger.active,
.btn-danger:focus,
.btn-danger:hover {
    background: #d62c1a;
    border-color: #e74c3c;
    color: #fff;
    box-shadow: none
}

.btn-pink {
    background: #e6a1f2;
    border-color: #e6a1f2;
    color: #fff
}

.btn-pink.active,
.btn-pink:focus,
.btn-pink:hover {
    background: #da74ec;
    border-color: #e6a1f2;
    color: #fff;
    box-shadow: none
}

.btn-dark {
    background: #545454;
    border-color: #545454;
    color: #fff
}

.btn-dark.active,
.btn-dark:focus,
.btn-dark:hover {
    background: #3b3b3b;
    border-color: #545454;
    color: #fff;
    box-shadow: none
}

.btn-addon {
    position: relative;
    padding-left: 40px
}

.btn-addon i {
    background: rgba(0, 0, 0, .1);
    left: -1px;
    margin-right: 20px;
    padding: 10px;
    position: absolute;
    top: -1px
}

.btn-addon.btn-lg {
    padding-left: 60px
}

.btn-addon.btn-lg i {
    padding: 14px
}

.btn-addon.btn-md {
    padding-left: 45px
}

.btn-addon.btn-md i {
    padding: 10px
}

.btn-addon.btn-sm {
    padding-left: 40px
}

.btn-addon.btn-sm i {
    padding: 9px
}

.btn-addon.btn-xs {
    padding-left: 25px
}

.btn-addon.btn-xs i {
    padding: 5px
}

.btn-rounded {
    border-radius: 100px
}

.btn-outline {
    background: 0 0;
    color: #252525
}

.btn-flat {
    border-radius: 0
}

.header {
    background: #fff;
    position: fixed;
    width: 100%;
    min-height: 50px;
    z-index: 990;
    top: 0
}

.logo {
    display: inline-block;
    
    text-align: center;
    width: 250px;
    transition: width 300ms ease-in-out
}

.logo span {
    color: #252525;
    font-size: 16px;
    font-weight: 600
}

.sidebar-hide .logo {
    width: 0
}

.sidebar-hide .logo span {
    display: none
}

.header-icon {
    font-size: 18px;
    padding: 14px 15px;
    color: #252525;
    position: relative;
    transition: all .4s ease-in-out;
    display: inline-block;
    vertical-align: middle;
    float: left
}

.header-icon i,
.header-icon img,
.header-icon span {
    cursor: pointer
}

.header-icon.active,
.header-icon:focus,
.header-icon:hover {
    background: rgba(255, 255, 255, .3)
}

.header-icon.active .drop-down {
    visibility: visible;
    opacity: 1;
    transform: translateY(0)
}

.drop-down {
    background: #fff;
    color: #252525;
    visibility: hidden;
    opacity: 0;
    width: 320px;
    position: absolute;
    right: 0;
    top: 55px;
    transform: translateY(50px);
    transition: all .4s ease-in-out;
    border: 1px solid #e7e7e7
}

.header-left .drop-down {
    left: 0
}

.dropdown-content-heading {
    padding: 10px 15px
}

.dropdown-content-heading span {
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    color: #252525
}

.dropdown-content-heading i {
    position: relative;
    top: 5px;
    opacity: 1!important;
    color: #03a9f5
}

.dropdown-content-body li {
    padding: 15px;
    border-top: 1px solid #eef1f6
}

.dropdown-content-body li.active,
.dropdown-content-body li:focus,
.dropdown-content-body li:hover {
    background: #eef1f6;
    border-top: 1px solid #eef1f6
}

.dropdown-content-body li a.active,
.dropdown-content-body li a:focus,
.dropdown-content-body li a:hover {
    color: #252525
}

.dropdown-content-body li:last-child {
    padding: 5px 15px
}

.notification-heading {
    font-size: 13px;
    font-weight: 700;
    color: #252525
}

.avatar-img {
    border-radius: 100px;
    width: 25px;
    position: relative;
    top: -3px
}

.user-avatar {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700
}

.notification-text {
    font-size: 12px;
    font-family: MontserratLight, sans-serif;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px
}

.notification-timestamp {
    font-size: 11px
}

.notification-percentage {
    font-size: 12px;
    position: relative;
    top: 12px
}

.notification-unread {
    background: #eef1f6
}

.notification-unread .notification-heading {
    color: #555
}

.more-link {
    font-size: 12px;
    color: #03a9f5;
    display: inline-block
}

.dropdown-profile {
    width: 200px
}

.dropdown-profile .trial-day {
    font-size: 11px;
    padding-top: 2px;
    color: #03a9f5
}

.dropdown-profile li {
    padding: 7px 15px
}

.dropdown-profile li a {
    display: block;
    color: #252525
}

.dropdown-profile li a.active,
.dropdown-profile li a:focus,
.dropdown-profile li a:hover {
    color: #252525
}

.dropdown-profile li a span {
    font-family: Montserrat, sans-serif;
    font-size: 14px
}

.dropdown-profile li a i {
    margin-right: 5px;
    font-size: 14px
}

.dropdown-profile li:last-child {
    padding: 7px 15px
}

.header-link {
    position: relative;
    top: -3px;
    font-size: 14px
}

.main .page-header {
    min-height: 50px;
    margin: 15px 0 5px;
    padding: 0 15px;
    background: #fff;
    border-bottom: 0
}

.main .page-header h1 {
    font-size: 18px;
    padding: 14px 0;
    margin: 0
}

.main .page-header h1 span {
    font-size: 14px
}

.main .page-header .breadcrumb {
    margin: 0;
    padding: 14px 15px;
    background: #fff
}

.main .page-header .breadcrumb li.active,
.main .page-header .breadcrumb li:focus,
.main .page-header .breadcrumb li:hover {
    font-family: MontserratLight, sans-serif;
    font-weight: 400;
    font-size: 12px
}

.main .page-header .breadcrumb li a {
    font-size: 12px;
    font-family: MontserratLight, sans-serif
}

.dropdown-task .progress {
    height: 5px;
    margin-bottom: 0;
    margin-top: 20px;
    box-shadow: none
}

.dropdown-task .progress-bar {
    box-shadow: none
}

@media (min-width:320px) and (max-width:679px) {
    .sidebar {
        top: 50px
    }
}

.map {
    width: 100%;
    height: 400px
}

.chat-sidebar {
    background-color: #eef1f6;
    border-left: 1px solid #e7e7e7;
    position: fixed;
    right: -240px;
    bottom: 0;
    top: 55px;
    width: 240px;
    z-index: 2;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s
}

.chat-sidebar .content,
.chat-sidebar .seen,
.chat-sidebar .textarea,
.chat-sidebar .user-name {
    font-family: MontserratLight, sans-serif
}

.chat-sidebar.is-active {
    right: 0
}

.chat-user-search .input-group-addon {
    background: #fff;
    border-radius: 0;
    border: 0
}

.chat-user-search .form-control {
    border: 0
}

.hidden {
    display: none
}

.chat-widget .chat_window {
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-color: #f8f8f8;
    overflow: hidden
}

.chat-widget .messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0;
    margin: 0;
    min-height: 350px;
    overflow: scroll
}

.chat-widget .messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .5s linear;
    opacity: 0
}

.chat-widget .messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block
}

.chat-widget .messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 100px);
    min-width: 100px;
    position: relative
}

.chat-widget .messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300
}

.chat-widget .messages .message .text_wrapper::after {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 13px;
    margin-top: 0
}

.chat-widget .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.chat-widget .messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px
}

.chat-widget .messages .message.left .text_wrapper::after,
.chat-widget .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb
}

.chat-widget .messages .message.left .avatar {
    background-color: #f5886e;
    float: left
}

.chat-widget .messages .message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px
}

.chat-widget .messages .message.left .text {
    color: #c48843
}

.chat-widget .messages .message.right .text_wrapper::after,
.chat-widget .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc
}

.chat-widget .messages .message.right .avatar {
    background-color: #fdbf68;
    float: right
}

.chat-widget .messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right
}

.chat-widget .messages .message.right .text {
    color: #45829b
}

.chat-widget .messages .message.appeared {
    opacity: 1
}

.chat-widget .bottom_wrapper {
    position: relative;
    position: absolute;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    bottom: 0
}

.chat-widget .bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px
}

.chat-widget .bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 45px);
    position: absolute;
    outline-width: 0;
    color: gray
}

.chat-widget .bottom_wrapper .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all .2s linear;
    text-align: center;
    float: right
}

.chat-widget .bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px
}

.chat-widget .bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff
}

.chat-widget .message_template {
    display: none
}

.testimonial-widget-one .testimonial-content {
    text-align: right
}

.testimonial-widget-one .testimonial-text {
    margin-bottom: 30px
}

.testimonial-widget-one .testimonial-author-position {
    font-family: MontserratLight, sans-serif;
    margin-right: 75px;
    position: relative;
    top: -5px
}

.testimonial-widget-one .testimonial-author {
    margin-right: 75px;
    position: relative;
    top: -5px
}

.testimonial-widget-one .testimonial-author-img {
    height: 50px!important;
    width: 50px!important;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    right: 0
}

.weather-one {
    background: #03a9f5
}

.weather-one i {
    font-size: 80px;
    position: relative;
    top: 5px
}

.weather-one h2 {
    display: inline-block;
    float: right;
    font-size: 48px
}

.weather-one .city {
    position: relative;
    text-align: right;
    top: -25px
}

.weather-one .currently {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 25px
}

.weather-one .celcious {
    text-align: right;
    font-size: 20px
}

[contenteditable]:focus,
[contenteditable]:hover {
    background: #48c4fd
}

.control-bar {
    position: relative;
    z-index: 100;
    background: #03a9f5;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px
}

.control-bar .slogan {
    font-weight: 700;
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 2rem
}

.control-bar label {
    margin: 0;
    color: #fff
}

.control-bar a {
    margin: 0;
    padding: .5em 1em;
    background: #fff;
    color: #252525
}

.control-bar a:hover {
    background: #48c4fd
}

.control-bar input {
    border: none;
    background: #48c4fd;
    max-width: 30px;
    text-align: center;
    color: #252525
}

.control-bar input:hover {
    background: #48c4fd
}

.hidedate .daterelated,
.hidetax .taxrelated,
.showdate .notdaterelated,
.showtax .notaxrelated {
    display: none
}

.details input {
    display: inline;
    margin: 0 0 0 .5rem;
    border: none;
    width: 55px;
    min-width: 0;
    background: 0 0;
    text-align: left
}

.invoice-edit #total_price:before,
.invoice-edit #total_tax:before,
.invoice-edit .price:before,
.invoice-edit .rate:before,
.invoice-edit .sum:before,
.invoice-edit .tax:before {
    content: '€'
}

.invoice-edit .bank,
.invoice-edit .bill,
.invoice-edit .client,
.invoice-edit .details,
.invoice-edit .info,
.invoice-edit .me,
.invoice-edit .smallme {
    padding: 15px
}

.invoice-logo img {
    display: block;
    vertical-align: top;
    width: 50px
}

.invoicelist-body {
    margin: 1rem
}

.invoicelist-body table {
    width: 100%
}

.invoicelist-body thead {
    text-align: left;
    border-bottom: 2pt solid #666
}

.invoicelist-body td,
.invoicelist-body th {
    position: relative;
    padding: 1rem
}

.invoicelist-body tr:nth-child(even) {
    background: #eef1f6
}

.invoicelist-body tr:hover .removeRow {
    display: block
}

.invoicelist-body input {
    display: inline;
    margin: 0;
    border: none;
    width: 80%;
    min-width: 0;
    background: 0 0;
    text-align: left
}

.invoicelist-body .control {
    display: inline-block;
    color: #fff;
    background: #03a9f5;
    padding: 3px 7px;
    font-size: .9rem;
    text-transform: uppercase;
    cursor: pointer
}

.invoicelist-body .control:hover {
    background: #15b4fc
}

.invoicelist-body .newRow {
    margin: .5rem 0;
    float: left
}

.invoicelist-body .removeRow {
    display: none;
    position: absolute;
    top: .1rem;
    bottom: .1rem;
    left: -1.3rem;
    font-size: .7rem;
    border-radius: 3px 0 0 3px;
    padding: .5rem
}

.invoicelist-footer {
    margin: 1rem
}

.invoicelist-footer table {
    float: right;
    width: 25%
}

.invoicelist-footer table td {
    padding: 1rem 2rem 0 1rem;
    text-align: right
}

.invoicelist-footer table tr:nth-child(2) td {
    padding-top: 0
}

.invoicelist-footer table #total_price {
    font-size: 2rem;
    color: #03a9f5
}

.note {
    margin: 75px 15px
}

.hidenote .note {
    display: none
}

.note h2 {
    margin: 0;
    font-size: 12px;
    font-weight: 700
}

.note p {
    font-size: 12px;
    padding: 0 5px
}

footer {
    display: block;
    margin: 1rem 0;
    padding: 1rem 0 0
}

footer p {
    font-size: 12px
}

@media print {
    .chat-sidebar,
    .control,
    .control-bar,
    .header,
    .sidebar {
        display: none!important
    }
    [contenteditable]:focus,
    [contenteditable]:hover {
        outline: 0
    }
}

#invoice {
    position: relative;
    margin-bottom: 120px;
    background: #fff;
    padding: 30px
}

#invoice-table {
    border-bottom: 1px solid #e7e7e7;
    padding: 30px 0
}

#invoice-mid,
#invoice-top {
    min-height: 120px
}

#invoice-bot {
    min-height: 250px
}

.invoice-logo {
    float: left;
    height: 120px;
    width: 150px;
    background: url(../Imagenes/servihogarr.png) no-repeat;
    background-size: 150px 120px
}

.clientlogo {
    float: left;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 37%;
    background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
    background-size: 100px 100px;
    border-radius: 50px
}

.invoice-info {
    display: block;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
}

.invoice-info h2 {
    color: #252525;
    font-size: 14px
}

.invoice-info p {
    font-size: 12px
}

.title {
    float: right
}

.title h4 {
    color: #252525;
    text-align: right
}

.title p {
    text-align: right;
    font-size: 12px
}

#project {
    margin-left: 52%
}

#project p {
    font-size: 12px
}

#invoice-table h2 {
    font-size: 18px
}

.tabletitle {
    padding: 5px;
    background: #e7e7e7
}

.service {
    border: 1px solid #e7e7e7
}

.table-item {
    width: 50%
}

.itemtext {
    font-size: .9em
}

#legalcopy {
    margin-top: 30px
}

#legalcopy p {
    font-size: 12px
}

.effect2 {
    position: relative
}

.effect2:after,
.effect2:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg)
}

.effect2:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto
}

.legal {
    width: 70%
}

@media (max-width:480px) {
    .control-bar {
        padding: 15px 15px 40px
    }
}

@media (max-width:360px) {
    .notaxrelated {
        margin-top: 15px
    }
}

.stat-widget-one .stat-icon {
    vertical-align: top
}

.stat-widget-one .stat-icon i {
    font-size: 30px;
    border-width: 3px;
    border-style: solid;
    border-radius: 100px;
    padding: 15px;
    font-weight: 900;
    display: inline-block
}

.stat-widget-one .stat-content {
    margin-left: 30px;
    margin-top: 7px
}

.stat-widget-one .stat-text {
    font-size: 15px;
    color: #03a9f4;
    font-weight: 600
}

.stat-widget-one .stat-digit {
    font-size: 24px;
    color: #252525
}

.stat-widget-two {
    text-align: center
}

.stat-widget-two .stat-digit {
    font-size: 40px;
    font-weight: 700;
    color: #252525
}

.stat-widget-two .stat-text {
    font-size: 20px;
    margin-bottom: 5px;
    color: #252525
}

.stat-widget-two .progress {
    height: 8px;
    margin-bottom: 0;
    margin-top: 20px;
    box-shadow: none
}

.stat-widget-two .progress-bar {
    box-shadow: none
}

.stat-widget-three .stat-icon {
    display: inline-block;
    padding: 33px;
    position: absolute;
    line-height: 21px
}

.stat-widget-three .stat-icon i {
    font-size: 30px;
    color: #fff
}

.stat-widget-three .stat-content {
    text-align: center;
    padding: 15px;
    margin-left: 90px
}

.stat-widget-three .stat-digit {
    font-size: 30px
}

.stat-widget-three .stat-text {
    padding-top: 7px
}

.home-widget-three .stat-icon {
    line-height: 19px;
    padding: 27px
}

.home-widget-three .stat-digit {
    font-size: 24px;
    font-weight: 300;
    color: #252525
}

.home-widget-three .stat-content {
    text-align: center;
    margin-left: 60px;
    padding: 13px
}

.stat-widget-four {
    position: relative
}

.stat-widget-four .stat-icon {
    display: inline-block;
    position: absolute;
    top: 5px
}

.stat-widget-four i {
    display: block;
    font-size: 36px
}

.stat-widget-four .stat-content {
    margin-left: 40px;
    text-align: center
}

.stat-widget-four .stat-heading {
    font-size: 20px
}

.stat-widget-five .stat-icon {
    border-radius: 100px;
    display: inline-block;
    position: absolute
}

.stat-widget-five i {
    border-radius: 100px;
    display: block;
    font-size: 36px;
    padding: 30px
}

.stat-widget-five .stat-content {
    margin-left: 100px;
    padding: 24px 0;
    position: relative;
    text-align: right;
    vertical-align: middle
}

.stat-widget-five .stat-heading {
    text-align: right;
    padding-left: 80px;
    font-size: 19px;
    font-weight: 500;
}

.stat-widget-six {
    position: relative
}

.stat-widget-six .stat-icon {
    display: inline-block;
    position: absolute;
    top: 5px
}

.stat-widget-six i {
    display: block;
    font-size: 36px
}

.stat-widget-six .stat-content {
    margin-left: 40px;
    text-align: center
}

.stat-widget-six .stat-heading {
    font-size: 16px;
    font-weight: 300
}

.stat-widget-six .stat-text {
    font-size: 12px;
    padding-top: 4px
}

.stat-widget-seven .stat-heading {
    text-align: center
}

.stat-widget-seven .gradient-circle {
    text-align: center;
    position: relative;
    margin: 30px auto;
    display: inline-block;
    width: 100%
}

.stat-widget-seven .gradient-circle i {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 35px;
    font-size: 30px
}

.stat-widget-seven .stat-footer {
    text-align: center;
    margin-top: 30px
}

.stat-widget-seven .stat-footer .stat-count {
    padding-left: 5px
}

.stat-widget-seven .count-header {
    color: #252525;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px
}

.stat-widget-seven .stat-count {
    font-size: 18px;
    font-weight: 400;
    color: #252525
}

.stat-widget-seven .analytic-arrow {
    position: relative
}

.stat-widget-seven .analytic-arrow i {
    font-size: 12px
}

.stat-widget-eight {
    padding: 15px
}

.stat-widget-eight .header-title {
    font-size: 20px;
    font-weight: 300
}

.stat-widget-eight .ti-more-alt {
    color: #878787;
    cursor: pointer;
    left: -5px;
    position: absolute;
    transform: rotate(90deg)
}

.stat-widget-eight .stat-content {
    margin-top: 50px
}

.stat-widget-eight .stat-content .ti-arrow-up {
    font-size: 30px;
    color: #1de9b6
}

.stat-widget-eight .stat-content .stat-digit {
    font-size: 24px;
    font-weight: 300;
    margin-left: 15px
}

.stat-widget-eight .stat-content .progress-stats {
    color: #aaadb2;
    font-weight: 400;
    position: relative;
    top: 10px
}

.stat-widget-eight .progress {
    margin-bottom: 0;
    margin-top: 30px;
    height: 7px;
    background: #EAEAEA;
    box-shadow: none
}

.stat-widget-nine .all-like {
    float: right
}

.stat-widget-nine .stat-icon i {
    font-size: 22px
}

.stat-widget-nine .stat-digit,
.stat-widget-nine .stat-text {
    font-size: 14px
}

.stat-widget-nine .like-count {
    font-size: 30px
}

.horizontal {
    position: relative
}

.horizontal:before {
    background: #fff;
    bottom: 0;
    content: "";
    height: 38px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 1px
}

@media (max-width:768px) {
    .card {
        display: inline-block;
        width: 100%
    }
}

@media (max-width:360px) {
    .stat-widget-five .stat-heading {
        padding-left: 0
    }
    .stat-widget-two .stat-digit {
        font-size: 16px
    }
    .stat-widget-two .stat-text {
        font-size: 14px
    }
    .stat-widget-three .stat-digit {
        font-size: 20px
    }
    .stat-widget-four .stat-heading {
        font-size: 18px
    }
    .stat-widget-three .stat-icon {
        padding: 26px
    }
}

.round-widget {
    border: 1px solid red;
    border-radius: 100px;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px
}

.recent-comment .media {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px
}

.recent-comment .media-left {
    padding-right: 25px
}

.recent-comment .media-left img {
    border-radius: 100px
}

.recent-comment .media-body h4 {
    font-size: 16px;
    margin-bottom: 10px
}

.recent-comment .media-body p {
    margin-bottom: 10px;
    line-height: 20px;
    color: #252525
}

.recent-comment .comment-date {
    float: left;
    color: #252525;
    font-family: MontserratLight, sans-serif;
    font-size: 12px
}

.comment-action {
    float: left
}

.comment-action .badge {
    text-transform: uppercase;
    font-family: MontserratLight, sans-serif
}

.comment-action i {
    padding: 0 5px
}

.recent-meaasge {
    margin-top: 15px
}

.recent-meaasge .media {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px
}

.recent-meaasge .media-left {
    padding-right: 25px
}

.recent-meaasge .media-left img {
    border-radius: 100px
}

.recent-meaasge .media-body {
    position: relative
}

.recent-meaasge .media-body h4 {
    font-size: 16px
}

.recent-meaasge .media-body p {
    margin-top: 10px;
    margin-bottom: 10px
}

.meaasge-date {
    float: right;
    color: #252525;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px
}

.form-group {
    margin-bottom: 20px
}

.form-control {
    height: 42px;
    border-radius: 0;
    box-shadow: none;
    border-color: #e7e7e7;
    font-family: MontserratLight, sans-serif
}

.form-control:hover {
    box-shadow: none;
    border-color: #e7e7e7
}

.form-control.active,
.form-control:focus {
    box-shadow: none;
    border-color: #878787
}

.input-default {
    border-radius: 4px
}

.input-flat {
    border-radius: 0
}

.input-rounded {
    border-radius: 100px
}

.input-focus,
.input-focus:focus {
    border-color: #03a9f5
}

.input-group-btn .btn {
    padding: 10px 12px
}

.input-group-default .form-control,
.input-group-flat .form-control {
    border-radius: 4px
}

.input-group-flat .btn {
    border-radius: 0
}

.input-group-rounded .form-control {
    border-radius: 100px
}

.input-group-rounded .btn-group-left {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px
}

.input-group-rounded .btn-group-right {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px
}

.input-group-close-icon {
    background: 0 0;
    color: #252525;
    border-color: #e7e7e7
}

.input-group-close-icon.active,
.input-group-close-icon:focus,
.input-group-close-icon:hover {
    background: 0 0;
    border-color: #e7e7e7;
    color: #252525
}

.has-default .form-control.active,
.has-default .form-control:focus,
.has-default .form-control:hover,
.has-error .form-control.active,
.has-error .form-control:focus,
.has-error .form-control:hover,
.has-success .form-control.active,
.has-success .form-control:focus,
.has-success .form-control:hover,
.has-warning .form-control.active,
.has-warning .form-control:focus,
.has-warning .form-control:hover {
    box-shadow: none
}

.has-default .control-label {
    color: #878787
}

.has-default .form-control,
.has-default .form-control.active,
.has-default .form-control:focus,
.has-default .form-control:hover {
    border-color: #878787
}

.has-success .control-label {
    color: #1de9b6
}

.has-success .form-control,
.has-success .form-control.active,
.has-success .form-control:focus,
.has-success .form-control:hover {
    border-color: #1de9b6
}

.has-warning .control-label {
    color: #f39c12
}

.has-warning .form-control,
.has-warning .form-control.active,
.has-warning .form-control:focus,
.has-warning .form-control:hover {
    border-color: #f39c12
}

.has-error .control-label {
    color: #e74c3c
}

.has-error .form-control,
.has-error .form-control.active,
.has-error .form-control:focus,
.has-error .form-control:hover {
    border-color: #e74c3c
}

.has-feedback label~.form-control-feedback {
    top: 35px
}

.form-horizontal .has-feedback .form-control-feedback {
    top: 5px
}

.has-success .form-control-feedback {
    color: #1de9b6
}

.has-warning .form-control-feedback {
    color: #f39c12
}

.has-error .form-control-feedback {
    color: #e74c3c
}

.has-success .input-group-addon {
    background-color: #91f4dc;
    border-color: #1de9b6;
    color: #1de9b6
}

.has-warning .input-group-addon {
    background-color: #f9cf8b;
    border-color: #f39c12;
    color: #f39c12
}

.has-error .input-group-addon {
    background-color: #f5b4ae;
    border-color: #e74c3c;
    color: #e74c3c
}

.input-sm {
    font-size: 12px;
    height: 30px;
    line-height: 1.5
}

.input-lg {
    font-size: 18px;
    height: 46px;
    line-height: 1.33333
}

label {
    font-weight: 400;
    margin-bottom: 10px
}

.form-horizontal .control-label {
    padding-top: 12px
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0
}

.is-invalid .form-control {
    border-color: #e74c3c
}

.invalid-feedback {
    color: #ef5350;
    display: none;
    margin-top: .25rem
}

.is-invalid .invalid-feedback,
.is-invalid .invalid-tooltip {
    display: block
}

.mail-box {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%
}

.mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top
}

.mail-box .sm-side {
    background: #fff;
    border-radius: 4px 0 0 4px;
    width: 25%
}

.mail-box .sm-side .user-head {
    background: #fff;
    border-radius: 4px 0 0;
    color: #252525;
    min-height: 80px;
    padding: 10px
}

.mail-box .lg-side {
    background: #fff;
    border-radius: 0 4px 4px 0;
    width: 75%
}

.user-head .inbox-avatar {
    float: left;
    width: 65px
}

.user-head .inbox-avatar img {
    border-radius: 100px;
    height: 65px;
    width: 65px
}

.user-head .user-name {
    display: inline-block;
    margin: 0 0 0 10px
}

.user-head .user-name h5 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px
}

.user-head .user-name h5 a {
    color: #252525
}

.user-head .user-name span a {
    color: #252525;
    font-size: 12px
}

a.mail-dropdown {
    background: #80d3d9;
    border-radius: 2px;
    color: #01a7b3;
    font-size: 10px;
    margin-top: 20px;
    padding: 3px 5px
}

.inbox-body {
    padding: 20px 0
}

.inbox-body .modal .modal-body input,
.inbox-body .modal .modal-body textarea {
    border: 1px solid #e6e6e6;
    box-shadow: none
}

.btn-compose {
    background: #03a9f5;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 70%
}

.btn-compose.active,
.btn-compose:focus,
.btn-compose:hover {
    background: #03a9f5;
    color: #fff
}

ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%
}

ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%
}

ul.inbox-nav li a {
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
    font-family: MontserratLight, sans-serif
}

ul.inbox-nav li a:focus,
ul.inbox-nav li a:hover {
    background: #eef1f6;
    color: #6a6a6a
}

ul.inbox-nav li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px
}

ul.inbox-nav li a span.label {
    margin-top: 13px
}

ul.inbox-nav li.active a {
    background: #eef1f6;
    color: #6a6a6a
}

.inbox-divider {
    border-bottom: 1px solid #e7e7e7
}

ul.labels-info li {
    margin: 0
}

ul.labels-info li h4 {
    color: #5c5c5e;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    text-transform: uppercase
}

ul.labels-info li a {
    border-radius: 0;
    color: #6a6a6a;
    font-family: MontserratLight, sans-serif
}

ul.labels-info li a:focus,
ul.labels-info li a:hover {
    background: #eef1f6;
    color: #6a6a6a
}

ul.labels-info li a i {
    padding-right: 10px
}

.nav.nav-pills.nav-stacked.labels-info p {
    color: #9d9f9e;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px
}

.inbox-head {
    background: #eef1f6;
    border-radius: 4px 4px 0 0;
    color: #252525;
    min-height: 80px;
    padding: 20px
}

.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px
}

.inbox-head .sr-input {
    border: none;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px
}

.inbox-head .sr-btn {
    background: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #252525;
    height: 40px;
    padding: 0 20px
}

.table-inbox {
    border: 1px solid #e7e7e7;
    margin-bottom: 0
}

.table-inbox tr td {
    padding: 12px!important
}

.table-inbox tr td:hover {
    cursor: pointer
}

.table-inbox tr td .ti-star.inbox-started {
    color: #f39c12
}

.table-inbox tr td .ti-star {
    color: #d5d5d5
}

.table-inbox tr td .ti-star:hover {
    color: #f39c12
}

.table-inbox tr.unread td {
    background: #eef1f6
}

ul.inbox-pagination {
    float: right
}

ul.inbox-pagination li {
    float: left
}

.mail-option {
    display: inline-block;
    margin: 26px 0;
    width: 100%;
    font-size: 12px
}

.mail-option .chk-all {
    margin-right: 5px;
    background: #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px!important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 16px
}

.mail-option .chk-all input[type=checkbox] {
    margin-top: 0
}

.mail-option .btn-group {
    margin-right: 5px
}

.mail-option .btn-group a.btn {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 3px!important;
    font-family: MontserratLight, sans-serif;
    color: #252525;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px
}

.mail-option .btn-group a.all {
    border: none;
    padding: 0;
    margin-left: 5px
}

.mail-option .btn-group i {
    margin-left: 5px
}

.mail-option .card-option-dropdown {
    left: 0;
    right: auto
}

.inbox-pagination a.np-btn {
    background: #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px!important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 15px;
    margin-left: 5px
}

.inbox-pagination li span {
    display: inline-block;
    margin-right: 5px;
    margin-top: 7px
}

.fileinput-button {
    background: #eee;
    border: 1px solid #e6e6e6;
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0) scale(4)
}

.modal-header h4.modal-title {
    font-weight: 300
}

.modal-body label {
    font-weight: 400
}

.heading-inbox h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px
}

.sender-info {
    margin-bottom: 20px
}

.sender-info img {
    height: 30px;
    width: 30px
}

.sender-dropdown {
    background: #eaeaea;
    color: #777;
    font-size: 10px;
    padding: 0 3px
}

.view-mail a {
    color: #e74c3c
}

.attachment-mail {
    margin-top: 30px
}

.attachment-mail ul {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%
}

.attachment-mail ul li {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px
}

.attachment-mail ul li img {
    width: 100%
}

.attachment-mail ul li span {
    float: right
}

.attachment-mail .file-name {
    float: left
}

.attachment-mail .links {
    display: inline-block;
    width: 100%
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
    margin-bottom: 5px
}

.files .progress {
    width: 200px
}

.fileupload-processing .fileupload-loading {
    display: block
}

* html .fileinput-button {
    line-height: 24px;
    margin: 1px -3px 0 0
}

ul {
    list-style-type: none
}

.inbox-small-cells {
    text-align: center
}

.mail-group-checkbox {
    position: relative;
    top: 2px
}

.mail-checkbox.mail-group-checkbox {
    position: relative;
    top: 2px;
    left: 2px
}

.table-inbox>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 1px solid #e7e7e7;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top
}

@media (max-width:767px) {
    .files .btn span {
        display: none
    }
    .files .preview * {
        width: 40px
    }
    .files .name * {
        display: inline-block;
        width: 80px;
        word-wrap: break-word
    }
    .files .progress {
        width: 20px
    }
    .files .delete {
        width: 60px
    }
}

.progress-bar,
.progress-bar-primary {
    background-color: #03a9f5
}

.progress-bar-success {
    background-color: #1de9b6
}

.progress-bar-info {
    background-color: #03a9f4
}

.progress-bar-danger {
    background-color: #e74c3c
}

.progress-bar-warning {
    background-color: #f39c12
}

.progress-bar-pink {
    background-color: #e6a1f2
}

.tdl-holder {
    margin: 0 auto
}

.tdl-holder ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.tdl-holder li {
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    color: #252525;
    list-style: none none;
    margin: 0;
    padding: 0
}

.tdl-holder li span {
    margin-left: 30px;
    font-family: MontserratLight, sans-serif;
    vertical-align: middle;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.tdl-holder label {
    cursor: pointer;
    display: block;
    line-height: 52px;
    padding: 0 15px;
    position: relative;
    margin: 0!important
}

.tdl-holder label:hover {
    background-color: #eef1f6;
    color: #252525
}

.tdl-holder label:hover a {
    display: block
}

.tdl-holder label a {
    border-radius: 50%;
    color: #252525;
    display: none;
    float: right;
    font-weight: 700;
    line-height: normal;
    height: 16px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    width: 16px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.tdl-holder input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    position: absolute
}

.tdl-holder input[type=checkbox]+i {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    display: block;
    height: 18px;
    position: absolute;
    top: 20px;
    width: 18px;
    z-index: 1
}

.tdl-holder input[type=checkbox]:checked+i::after {
    content: "\e64c";
    font-family: themify;
    display: block;
    left: 0;
    position: absolute;
    top: -20px;
    z-index: 2
}

.tdl-holder input[type=checkbox]:checked~span {
    color: #252525;
    text-decoration: line-through
}

.tdl-holder input[type=text] {
    background-color: #eef1f6;
    height: 50px;
    margin-top: 40px
}

.datamap-sales-hover-tooltip {
    background: #545454;
    font-family: MontserratLight, sans-serif;
    padding: 5px 10px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 3px
}

thead tr th {
    color: #252525;
    font-weight: 500
}

thead tr th:last-child {
    text-align: right
}

tbody tr th {
    color: #252525;
    font-family: MontserratLight, sans-serif;
    font-weight: 400
}

tbody tr td {
    font-family: MontserratLight, sans-serif;
    color: #252525
}

tbody tr td:last-child {
    text-align: right
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    line-height: 32px;
    vertical-align: top
}

.table>thead>tr>th {
    border-bottom: 1px solid #e7e7e7;
    font-weight: 600
}

.table {
    margin-bottom: 0
}

.table .badge {
    text-transform: uppercase
}

.student-data-table label {
    margin-right: 7px
}

.student-data-table td span a {
    padding: 3px
}

.search-action {
    bottom: 0;
    display: inline-block;
    position: absolute;
    right: 92px;
    text-align: right
}

.search-type .form-control {
    height: 30px
}

@media (max-width:1199px) {
    .search-action {
        text-align: center;
        position: relative;
        right: 0
    }
    .search-type .form-control {
        margin-bottom: 8px;
        margin-top: 8px
    }
}

.current-progress {
    margin-top: 15px
}

.progress-content {
    margin-bottom: 20px
}

.progress-content:last-child {
    margin-bottom: 0
}

.current-progressbar {
    margin-top: 3px
}

.current-progressbar .progress {
    height: 15px;
    margin: 0;
    box-shadow: none
}

.current-progressbar .progress-bar {
    line-height: 14px;
    font-size: 11px;
    box-shadow: none
}

.login-logo {
    text-align: center;
    margin-bottom: 15px
}

.login-logo span {
    color: #fff;
    font-size: 24px
}

.login-logo img {
    height: 75px
}

.login-content {
    margin: 50px 
}

.login-form {
    background: #fff;
    padding: 30px 30px 20px;
    border-radius: 2px
}

.login-form h4 {
    color: #252525;
    text-align: center;
    margin-bottom: 50px
}

.login-form .checkbox {
    color: #252525
}

.login-form .checkbox label {
    text-transform: none
}

.login-form .btn {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px;
    border: 0
}

.login-form label {
    color: #252525;
    text-transform: uppercase
}

.login-form label a {
    color: #03a9f5
}

.social-login-content {
    margin: 0 -30px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 30px 0;
    background: #fcfcfc
}

.social-button {
    padding: 0 30px
}

.social-button i {
    padding: 19px
}

.register-link a {
    color: #03a9f5
}

.cpu-load {
    width: 100%;
    height: 272px;
    font-size: 14px;
    line-height: 1.2em
}

.cpu-load-data-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px
}

.cpu-load-data {
    margin-bottom: 30px
}

.cpu-load-data li {
    display: inline-block;
    width: 32.5%;
    text-align: center;
    border-right: 1px solid #e7e7e7
}

.cpu-load-data li:last-child {
    border-right: 0
}

#barChart {
    height: 400px!important
}

.nestable-cart {
    overflow: hidden
}

.dd-handle,
.dd3-content {
    color: #000!important
}

.user-skill h4,
.user-work h4 {
    font-size: 14px;
    position: relative;
    margin-bottom: 15px;
    padding: 5px 0;
    border-bottom: 1px solid #e7e7e7;
    font-family: MontserratLight, sans-serif
}

.work-content {
    margin-bottom: 15px
}

.work-content h3 {
    font-size: 15px;
    margin-bottom: 5px
}

.user-skill li a {
    line-height: 25px
}

.user-profile-name {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    padding: 0 15px
}

.user-Location {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    font-family: MontserratLight, sans-serif
}

.user-Location i {
    font-size: 14px
}

.user-job-title {
    font-size: 14px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: #03a9f5
}

.ratings h4 {
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 15px
}

.ratings span {
    margin-right: 10px
}

.rating-star {
    margin-bottom: 10px;
    padding-left: 15px
}

.user-send-message {
    margin-top: 15px;
    padding-left: 15px
}

.user-profile-tab {
    margin-top: 15px;
    padding: 0 15px
}

.user-profile-tab li a {
    padding: 7px 40px 7px 0
}

.basic-information,
.contact-information {
    margin: 10px 0
}

.basic-information h4,
.contact-information h4 {
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: MontserratLight, sans-serif
}

.contact-title {
    display: inline-block;
    padding-bottom: 15px;
    width: 170px;
    font-size: 16px;
    color: #252525
}

.birth-date,
.contact-email,
.contact-skype,
.contact-website,
.gender,
.mail-address,
.phone-number {
    font-family: MontserratLight, sans-serif;
    font-size: 16px;
    color: #252525
}

.profile-widget {
    margin: 8px 0;
    text-align: center
}

.profile-widget .stat-text {
    padding-bottom: 6px
}

.profile-widget-one .profile-one-bg,
.profile-widget-one .profile-one-user-photo {
    position: relative
}

.profile-widget-one .profile-one-user-photo .bg-overlay {
    background: rgba(0, 0, 0, .6);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.profile-widget-one .profile-one-user-photo .user-photo {
    bottom: 0;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%
}

.profile-widget-one .profile-one-user-photo .user-photo img {
    border-radius: 100px;
    height: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100px
}

.profile-widget-one .profile-one-user-content ul li {
    background: #fff;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    display: block;
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 32%
}

.profile-widget-one .profile-one-user-content ul li:last-child {
    border-right: 0
}

.profile-widget-one .profile-one-user-content h4 {
    line-height: 30px;
    font-size: 14px;
    margin: 0
}

.profile-widget-one .profile-one-user-content .earning-amount,
.profile-widget-one .profile-one-user-content .sold-amount {
    color: #1de9b6;
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px
}

.profile-widget-one .profile-one-user-content .sold-amount {
    color: #03a9f5;
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px
}

.profile-widget-one .profile-one-user-button {
    text-align: center;
    padding: 26px 0
}

.profile-widget-one .profile-btn-one {
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 15px;
    font-weight: 400;
    color: #03a9f5
}

.alert-primary {
    background-color: #57c9fd;
    border-color: #57c9fd;
    color: #03a9f5
}

.alert-success {
    background-color: #91f4dc;
    border-color: #91f4dc;
    color: #1de9b6
}

.alert-warning {
    background-color: #f9cf8b;
    border-color: #f9cf8b;
    color: #f39c12
}

.alert-danger {
    background-color: #f5b4ae;
    border-color: #f5b4ae;
    color: #e74c3c
}

.alert-pink {
    background-color: #f8e4fb;
    border-color: #f8e4fb;
    color: #e6a1f2
}

.alert-dismissable .close,
.alert-dismissible .close {
    color: rgba(0, 0, 0, .8)
}

.label-default {
    background-color: #878787
}

.label-primary {
    background-color: #03a9f5
}

.label-success {
    background-color: #1de9b6
}

.label-info {
    background-color: #03a9f4
}

.label-danger {
    background-color: #e74c3c
}

.label-warning {
    background-color: #f39c12
}

.calendar {
    float: left;
    margin-bottom: 0
}

.fc-view {
    margin-top: 30px
}

.none-border .modal-footer {
    border-top: none
}

.fc-toolbar {
    margin-bottom: 5px;
    margin-top: 15px
}

.fc-toolbar h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase
}

.fc-day {
    background: #fff
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar .ui-state-hover,
.fc-toolbar button:focus,
.fc-toolbar button:hover {
    z-index: 0
}

.fc-widget-content,
.fc-widget-header {
    border: 1px solid #e7e7e7
}

.fc th.fc-widget-header {
    background: #e7e7e7;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    text-transform: uppercase
}

.fc-button {
    background: #fff;
    border: 1px solid #e7e7e7;
    color: #252525;
    text-transform: capitalize
}

.fc-text-arrow {
    font-family: inherit;
    font-size: 16px
}

.fc-cell-overlay,
.fc-state-highlight,
.fc-state-hover {
    background: #eef1f6!important
}

.fc-unthemed .fc-today {
    background: #fff!important
}

.fc-event {
    border-radius: 2px;
    border: none;
    cursor: move;
    font-size: 13px;
    margin: 5px 7px;
    padding: 5px;
    text-align: center
}

.external-event {
    color: #fff;
    cursor: move;
    margin: 10px 0;
    padding: 6px 10px
}

.fc-basic-view td.fc-day-number,
.fc-basic-view td.fc-week-number span {
    padding-right: 5px
}

#drop-remove {
    margin: 0;
    top: 3px
}

#add-category .modal-dialog,
#event-modal .modal-dialog {
    max-width: 600px
}

.flotTip {
    background: #252525;
    border: 1px solid #252525;
    padding: 5px 15px;
    color: #fff
}

.flot-container {
    box-sizing: border-box;
    width: 100%;
    height: 275px;
    padding: 20px 15px 15px;
    margin: 15px auto 30px;
    background: #fff
}

.flot-pie-container,
.flotBar-container {
    height: 275px
}

.flot-line {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em
}

.legend table {
    border-spacing: 5px
}

#chart1,
#flotBar,
#flotCurve {
    width: 100%;
    height: 275px
}

.morris-hover {
    position: absolute;
    z-index: 1
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: 700;
    margin: .25em 0
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: .1em 0
}

.morris-hover.morris-default-style {
    border-radius: 2px;
    padding: 10px 12px;
    background: rgba(0, 0, 0, .7);
    border: none;
    color: #fff!important
}

.morris-hover-point {
    color: rgba(255, 255, 255, .8)!important
}

.products_1 {
    padding-top: 5px;
    padding-bottom: 5px
}

.products_1 .pr_img_price {
    position: relative
}

.products_1 .pr_img_price .product_price {
    min-width: 50px;
    min-height: 50px;
    background: #1de9b6;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0
}

.products_1 .pr_img_price .product_price p {
    padding-top: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600
}

.products_1 .product_details .product_name {
    padding-top: 30px
}

.products_1 .product_details .prdt_add_to_cart {
    padding-top: 10px
}

.products_1 .product_details .prdt_add_to_cart button {
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600
}

.product-2-details .table>tbody>tr>td {
    border: none
}

.product-2-details .product-2-des {
    margin-top: 25px
}

.product-2-details .product-2-des .product_name h4 {
    font-size: 15px;
    font-weight: 600
}

.product-2-details .product-2-des .product_des p {
    font-size: 13px;
    font-style: italic
}

.product-2-details .product-2-button {
    border-left: 1px solid #e7e7e7;
    margin-top: 25px
}

.product-2-details .product-2-button .prdt_add_to_curt {
    padding-top: 10px
}

.product-2-details .product-2-button .prdt_add_to_curt button {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600
}

.product-3-img img {
    width: 100%
}

.product_details_3 {
    padding: 15px 0
}

.product_details_3 .product_name h4 {
    font-size: 15px;
    font-weight: 600
}

.product_details_3 .product_des {
    padding-bottom: 5px
}

.product_details_3 .prdt_add_to_curt {
    padding-top: 10px
}

.product_details_3 .prdt_add_to_curt button {
    text-transform: uppercase;
    font-weight: 600
}

.favourite-menu-details .table>tbody>tr>td {
    border-top: none;
    border-bottom: 1px solid #e7e7e7
}

.favourite-menu-details .favourite-menu-img {
    border-right: 1px solid #e7e7e7;
    margin-bottom: 25px;
    width: 120px
}

.favourite-menu-details .favourite-menu-des {
    margin-top: 40px;
    margin-right: 465px
}

.favourite-menu-details .favourite-menu-des .product_name h4 {
    font-weight: 600;
    text-align: left
}

.favourite-menu-details .favourite-menu-button {
    margin-top: 40px
}

.favourite-menu-details .favourite-menu-button .prdt_add_to_curt {
    padding-top: 10px
}

.favourite-menu-details .favourite-menu-button .prdt_add_to_curt button {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600
}

.order-list-item table tbody>tr>td {
    padding-top: 8px;
    border-top: 1px solid #e7e7e7
}

.order-list-item table thead>tr>th {
    border-bottom: 1px solid #e7e7e7
}

.order-list-item thead {
    background: #03a9f5;
    text-align: left
}

.order-list-item thead th {
    color: #fff;
    font-weight: 700
}

.order-list-item tbody {
    background: #fff;
    text-align: left
}

.order-list-item tbody td {
    color: #444
}

.booking-system-feedback {
    top: 5px!important;
    right: 15px
}

.booking-system-top {
    padding-top: 15px
}

.media-body {
    vertical-align: middle
}

.media-body span {
    font-size: 10px;
    color: #03a9f5
}

.media-body p {
    color: #252525;
    line-height: 15px
}

.example {
    overflow: hidden;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(200, 200, 200, .3);
    -moz-box-shadow: 1px 1px 2px 0 rgba(200, 200, 200, .3);
    box-shadow: 1px 1px 2px 0 rgba(200, 200, 200, .3);
    background-color: #eef1f6;
    text-align: justify
}

.example p {
    padding: 20px 20px 0;
    font-size: 12px
}

.box,
.simple {
    height: 300px
}

.scrollable-auto-x {
    overflow-x: auto;
    overflow-y: hidden
}

.scrollable-auto-y {
    overflow-y: auto;
    overflow-x: hidden
}

.scrollable-auto {
    overflow: auto
}

.vmap {
    width: 100%;
    height: 400px
}

.dark-browse-input-box {
    border-radius: 0;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    font-size: 12px;
    color: #000;
    border: 1px solid #e7e7e7
}

.dark-browse-input-box .dark-input-button {
    border-radius: 0;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    background: #fff;
    border: none!important;
    color: #03a9f5
}

.dark-browse-input-box .dark-input-button i {
    font-weight: 700;
    font-size: 17px
}

.dark-browse-input-box .dark-input-button:hover {
    background: #fff;
    color: #03a9f5;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    border: none!important
}

.dark-browse-input-box .dark-input-button:focus {
    outline: 0;
    border: none!important;
    background: 0 0!important
}

.file-input {
    position: relative;
    font-size: 14px
}

.file-input label {
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 0;
    margin: 0
}

.file-input label:focus {
    outline: 0;
    border: none!important;
    background: 0 0!important
}

.file-input .btn {
    position: absolute;
    right: 6px;
    top: 7px;
    bottom: 6px;
    max-width: 100px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 32px
}

.file-input .btn input {
    width: 0;
    height: 0
}

.file-input .file-name {
    float: left;
    width: 100%;
    border: 0;
    background: 0 0
}

.media-stats-content .stats-content {
    padding: 30px 0
}

.media-stats-content .stats-content .stats-digit {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px
}

.media-stats-content .stats-content .stats-text {
    font-size: 14px
}

.media-stats-content .stats-content .table td {
    line-height: 40px!important
}

.carousel.vertical .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%
}

.carousel.vertical .carousel-inner>.item {
    display: none;
    position: relative;
    transition: top .6s ease-in-out
}

.carousel.vertical .carousel-inner>.item>a>img,
.carousel.vertical .carousel-inner>.item>img {
    line-height: 1
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel.vertical .carousel-inner>.item {
        transition: transform .6s ease-in-out;
        backface-visibility: hidden;
        perspective: 1000
    }
    .carousel.vertical .carousel-inner>.item.active.right,
    .carousel.vertical .carousel-inner>.item.next {
        transform: translate3d(0, 100%, 0);
        top: 0
    }
    .carousel.vertical .carousel-inner>.item.active.left,
    .carousel.vertical .carousel-inner>.item.prev {
        transform: translate3d(0, -100%, 0);
        top: 0
    }
    .carousel.vertical .carousel-inner>.item.active,
    .carousel.vertical .carousel-inner>.item.next.left,
    .carousel.vertical .carousel-inner>.item.prev.right {
        transform: translate3d(0, 0, 0);
        top: 0;
        width: 100%
    }
}

.carousel.vertical .carousel-inner>.active,
.carousel.vertical .carousel-inner>.next,
.carousel.vertical .carousel-inner>.prev {
    display: block
}

.carousel.vertical .carousel-inner>.active {
    top: 0
}

.carousel.vertical .carousel-inner>.next,
.carousel.vertical .carousel-inner>.prev {
    position: absolute;
    width: 100%
}

.carousel.vertical .carousel-inner>.next {
    top: 100%
}

.carousel.vertical .carousel-inner>.prev {
    top: -100%
}

.carousel.vertical .carousel-inner>.next.left,
.carousel.vertical .carousel-inner>.prev.right {
    top: 0
}

.carousel.vertical .carousel-inner>.active.left {
    top: -100%
}

.carousel.vertical .carousel-inner>.active.right {
    top: 100%
}

.ct-chart {
    height: 265px
}

.ct-pie-chart {
    height: 328px
}

.ct-svg-chart {
    height: 270px
}

.ct-bar-chart {
    height: 250px
}

.ct-label {
    color: rgba(0, 0, 0, .8);
    fill: rgba(0, 0, 0, .8);
    font-size: 10px
}

.ct-chart-pie .ct-label {
    color: rgba(0, 0, 0, .8);
    fill: rgba(0, 0, 0, .8);
    font-size: 12px
}

.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
    stroke: #1DE9B6
}

.ct-series-b .ct-bar,
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-slice-donut {
    stroke: #03A9F5
}

.ct-series-c .ct-bar,
.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-slice-donut {
    stroke: #A389D5
}

.ct-series-d .ct-bar,
.ct-series-d .ct-line,
.ct-series-d .ct-point,
.ct-series-d .ct-slice-donut {
    stroke: #f4c22b
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-donut-solid,
.ct-series-a .ct-slice-pie {
    fill: #1DE9B6
}

.ct-series-b .ct-area,
.ct-series-b .ct-slice-donut-solid,
.ct-series-b .ct-slice-pie {
    fill: #03A9F5
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-donut-solid,
.ct-series-c .ct-slice-pie {
    fill: #A389D5
}

body {
    font-family: Montserrat, sans-serif;
    background: #eef1f6;
    color: #252525
}

a,
button {
    outline: 0!important;
    text-decoration: none!important;
    color: #252525;
    transition: all .2s ease 0s
}

a.active,
a:focus,
a:hover,
button.active,
button:focus,
button:hover {
    color: #252525;
    outline: 0!important;
    text-decoration: none!important
}

ul {
    padding: 0;
    margin: 0
}

li {
    list-style: none
}

p {
    font-family: MontserratLight, sans-serif;
    color: #252525
}

.dib {
    display: inline-block
}

.rotate-90 {
    transform: rotate(90deg)
}

.rotate-180 {
    transform: rotate(180deg)
}

.content-wrap {
    margin-top: 55px
}

.alert h4 {
    color: #2CB1EF
}

.border-none {
    border: 1px solid transparent
}

.footer>p {
    background: #fff;
    margin-top: 15px;
    padding: 15px;
    text-align: center
}

.footer>p a {
    color: #e74c3c
}

.bar-hidden {
    overflow-X: hidden
}

.color-white {
    color: #fff
}

.btn-btn {
    padding: 15px 25px;
    border: 0
}

.btn-btn:hover {
    color: #fff
}

.letter-space {
    letter-spacing: 1px
}

.solid-btn {
    padding: 15px 42px
}

.color-primary,
.text-primary {
    color: #03a9f5
}

.color-success,
.text-success {
    color: #1de9b6
}

.color-info,
.text-info {
    color: #03a9f4
}

.color-danger,
.text-danger {
    color: #e74c3c
}

.color-warning,
.text-warning {
    color: #f39c12
}

.color-pink,
.text-pink {
    color: #e6a1f2
}

.color-dark,
.text-dark {
    color: #545454
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

.bg-primary {
    background: #03a9f5;
    color: #fff;
    fill: #03a9f5
}

.bg-success {
    background: #1de9b6;
    color: #fff;
    fill: #1de9b6
}

.bg-info {
    background: #03a9f4;
    color: #fff;
    fill: #03a9f4
}

.bg-danger {
    background: #e74c3c;
    color: #fff;
    fill: #e74c3c
}

.bg-warning {
    background: #f39c12;
    color: #fff;
    fill: #f39c12
}

.bg-pink {
    background: #e6a1f2;
    color: #fff;
    fill: #e6a1f2
}

.bg-dark {
    background: #545454;
    color: #fff;
    fill: #545454
}

.bg-transparent {
    background: 0 0;
    color: #252525
}

.no-select-arrow {
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    border: 1px solid #e7e7e7
}

.bg-ash {
    background: #f5f5f5
}

.bg-white {
    background: #fff
}

.border-primary {
    border-color: #03a9f5
}

.border-success {
    border-color: #1de9b6
}

.border-info {
    border-color: #03a9f4
}

.border-danger {
    border-color: #e74c3c
}

.border-warning {
    border-color: #f39c12
}

.border-pink {
    border-color: #e6a1f2
}

.border-dark {
    border-color: #545454
}

.no-border {
    border: 0!important
}

.border-top {
    border-top: 1px solid #e7e7e7
}

.border-white {
    border: 1px solid #fff
}

.border-bottom {
    border-bottom: 1px solid #e7e7e7
}

.border-left {
    border-left: 1px solid #e7e7e7
}

.border-right {
    border-right: 1px solid #e7e7e7
}

.white-bottom {
    border-bottom: 1px solid #fff
}

.radius-0 {
    border-radius: 0
}

.bg-facebook {
    background: #3b5998;
    fill: #3b5998
}

.bg-twitter {
    background: #1da1f2;
    fill: #1da1f2
}

.bg-youtube {
    background: #cd201f;
    fill: #cd201f
}

.bg-google-plus {
    background: #dd4b39;
    fill: #dd4b39
}

.bg-linkedin {
    background: #007bb6
}

.w10pr {
    width: 10%
}

.w12pr {
    width: 12%
}

.p-28 {
    padding: 28px
}

.p-10 {
    padding: 10px
}

.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

@media (min-width:1500px) {
    .container {
        width: 1400px
    }
}

.row {
    margin-left: -7.5px;
    margin-right: -7.5px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 7.5px;
    padding-right: 7.5px
}

@media (max-width:667px) {
    .dt-buttons {
        margin-left: 10px
    }
}

@media (max-width:480px) {
    .dt-buttons {
        display: inline-block
    }
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.pace-inactive {
    display: none
}

.pace .pace-progress {
    background: #1de9b6;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0, -4px);
    -moz-transform: rotate(3deg) translate(0, -4px);
    -ms-transform: rotate(3deg) translate(0, -4px);
    -o-transform: rotate(3deg) translate(0, -4px);
    transform: rotate(3deg) translate(0, -4px)
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 5px;
    right: 5px;
    width: 14px;
    height: 14px;
    border: 2px solid transparent;
    border-top-color: #1de9b6;
    border-left-color: #1de9b6;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite
}

@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes pace-spinner {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.superpose {
    color: #EEE;
    height: 350px;
    width: 100%
}

.superclock {
    position: relative;
    width: 300px;
    margin: auto
}

.superclock1 {
    position: absolute;
    left: 10px;
    top: 10px
}

.superclock2 {
    position: absolute;
    left: 60px;
    top: 60px
}

.superclock3 {
    position: absolute;
    left: 110px;
    top: 110px
}

#search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translate(0, -100%) scale(0, 0);
    -moz-transform: translate(0, -100%) scale(0, 0);
    -o-transform: translate(0, -100%) scale(0, 0);
    -ms-transform: translate(0, -100%) scale(0, 0);
    transform: translate(0, -100%) scale(0, 0);
    z-index: 99999;
    opacity: 0
}

#search.open {
    -webkit-transform: translate(0, 0) scale(1, 1);
    -moz-transform: translate(0, 0) scale(1, 1);
    -o-transform: translate(0, 0) scale(1, 1);
    -ms-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    opacity: 1
}

#search input[type=search] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0;
    margin: -51px auto 0;
    padding-left: 30px;
    padding-right: 30px;
    outline: 0
}

#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px
}

.media-text-right {
    text-align: right
}

.media-text-left {
    text-align: left
}

.boxshadow-none {
    box-shadow: none
}

.progress-sm {
    height: 8px
}

.bg-warning-dark {
    background: #e7b63a
}

.bg-info-dark {
    background: #8b67c9
}

.bg-danger-dark {
    background: #e63327
}

.bg-success-dark {
    background: #2ed3aa
}

.bg-primary-dark {
    background: #0095e1
}

.widget-card-circle i {
    font-size: 30px;
    left: 0;
    line-height: 97px;
    right: 0;
    text-align: center
}

.widget-line-list li {
    display: inline-block;
    font-size: 28px;
    line-height: 27px;
    padding: 5px 20px 0 15px
}

.widget-line-list li span {
    font-size: 12px
}

.height-150 {
    height: 150px
}

.social-connect ul li {
    display: inline-block
}

.social-connect ul li a {
    display: inline-block;
    margin: 0 5px;
    padding: 12px 15px;
    border-radius: 4px
}

.user-card-absolute {
    top: 115px;
    left: 0;
    right: 0
}

.box-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.social-pad {
    padding: 40px 30px 110px
}

.round-img img {
    border-radius: 100px
}

.blockquote-box {
    border-right: 5px solid #E6E6E6;
    margin-bottom: 25px
}

.blockquote-box .square {
    width: 100px;
    min-height: 50px;
    margin-right: 22px;
    text-align: center!important;
    background-color: #E6E6E6;
    padding: 20px 0
}

.blockquote-box .blockquote-primary {
    border-color: #03a9f5
}

.blockquote-box .blockquote-primary .square {
    background-color: #03a9f5;
    color: #fff
}

.blockquote-box .blockquote-success {
    border-color: #1de9b6
}

.blockquote-box .blockquote-success .square {
    background-color: #1de9b6;
    color: #fff
}

.blockquote-box .blockquote-info {
    border-color: #03a9f4
}

.blockquote-box .blockquote-info .square {
    background-color: #03a9f4;
    color: #fff
}

.blockquote-box .blockquote-warning {
    border-color: #f39c12
}

.blockquote-box .blockquote-warning .square {
    background-color: #f39c12;
    color: #fff
}

.blockquote-box .blockquote-danger {
    border-color: #d43f3a
}

.blockquote-box .blockquote-danger .square {
    background-color: #e74c3c;
    color: #fff
}

@media (min-width:992px) and (max-width:1199px) {
    .title-margin-right {
        margin-right: 7px!important
    }
    .title-margin-left {
        margin-left: 7px!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .title-margin-right {
        margin-right: 7px!important
    }
    .title-margin-left {
        margin-left: 7px!important
    }
}

@media (min-width:680px) and (max-width:767px) {
    .title-margin-right {
        margin-right: 7px!important
    }
    .title-margin-left {
        margin-left: 7px!important
    }
}

@media (min-width:480px) and (max-width:679px) {
    .title-margin-right {
        margin-right: 7px!important
    }
    .title-margin-left {
        margin-left: 7px!important
    }
    .inbox-pagination {
        margin-top: 30px;
        float: left!important
    }
    .card-badge .label {
        display: inline-block;
        margin-bottom: 5px;
        padding: 5px
    }
    .mail-box .sm-side {
        width: 100%
    }
    .mail-box aside {
        display: inline
    }
}

@media (min-width:360px) and (max-width:479px) {
    .title-margin-right {
        margin-right: 7px!important
    }
    .title-margin-left {
        margin-left: 7px!important
    }
    #project {
        margin-left: 0
    }
    .fc-toolbar .fc-right {
        float: left;
        margin-top: 15px
    }
    .card-badge .label {
        display: inline-block;
        margin-bottom: 5px;
        padding: 5px
    }
    .mail-box .sm-side {
        width: 100%
    }
    .mail-box aside {
        display: inline
    }
}

@media (min-width:320px) and (max-width:359px) {
    .title-margin-right {
        margin-right: 7px!important
    }
    .title-margin-left {
        margin-left: 7px!important
    }
    #project {
        margin-left: 0
    }
    .fc-toolbar .fc-right {
        float: left;
        margin-top: 15px
    }
    .br-theme-bars-pill .br-widget a {
        padding: 7px 12px
    }
    .br-theme-bars-reversed .br-widget .br-current-rating {
        padding: 0
    }
    .alert-rating {
        padding-bottom: 40px
    }
    .card-badge .label {
        display: inline-block;
        margin-bottom: 5px;
        padding: 5px
    }
    .mail-box .sm-side {
        width: 100%
    }
    .mail-box aside {
        display: inline
    }
    .chk-group {
        margin-bottom: 10px
    }
    .pagination-list {
        float: left!important;
        margin-top: 10px
    }
    .inner-append {
        position: relative
    }
    .inner-append .append-btn {
        position: absolute;
        right: 0;
        top: 0
    }
    .input-text {
        margin-bottom: 12px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .default-logo {
        display: none!important
    }
    .retina-logo {
        display: inline-block!important
    }
}

thead tr th:last-child {
    text-align: center;
}

.grid-content {
    margin-top: 30px;
}

body,
html {
    overflow-x: hidden;
}

@media (max-width: 480px) {
    .mail-option .chk-all {
        margin: 15px;
        margin-left: 0;
    }
    .inbox-head form {
        float: left !important;
        margin-top: 10px !important;
    }
    .inner-append {
        position: relative;
    }
    .inner-append .append-btn {
        position: absolute;
        right: 0;
        top: 0;
    }
    .input-text {
        margin-bottom: 12px;
    }
    .inbox-head h3 {
        float: left;
        width: 100%;
    }
    .mail-option .card-option-dropdown {
        right: none !important;
        left: none !important;
    }
    .fc th.fc-widget-header {
        font-size: 8px;
    }
}

@media (max-width: 1199px) {
    .margin_top_fiftin {
        margin-top: 15px;
    }
}

@media (max-width: 991px) {
    .bg-warning,
    .btn-default {
        margin-top: 30px;
    }
}

@media (max-width: 550px) {
    .drop-down {
        width: 200px;
        right: -100px;
    }
    .product-2-details .table>tbody>tr>td {
        float: left;
        width: 100%;
    }
    .product-2-details tbody tr td:last-child {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .favourite-menu-details tbody tr td {
        float: left;
        width: 100%;
    }
    .favourite-menu-details tbody tr td:last-child {
        text-align: left;
    }
}

.navi_right {
    float: right;
}

.card {
    float: left;
    width: 100%;
}
@media (max-width: 1199px){
	.full_grid{
		display:inline-grid !important;
	}
}