/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/07/2020, 06:40:41 PM
    Author     : Admin
*/
/*index cliente*/
.contenedorEmpleado{
    width: 20%; 
    box-shadow: 2px 2px 8px #999;
    float: left;
    margin: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
@media screen and(min-width: 450px){
    .contenedorEmpleado{
    width: 20%;
    margin: 20px 2% 20px 3%;
}
}
.nombreEmpleado{
    background: #00bdaa;
}
.fotoEmpleado{

}
.ciudadEmpleado{
    background: #00bdaa;
}
.contenedorEmpleado{
    
}
/*--------------------------------------------------*/
.contenedorInfo{
    width: 80%;
    box-shadow: 2px 2px 8px #999;
    margin: auto;
    font-size: 22px;
}
.NombreyFotoInfo{
    text-align: center;
    margin: auto;   
}
.CiudadInfo{
    text-align: center;
    background: #00bdaa;
    color:white;
}
h3{
    text-align: center;
    background: #00bdaa;
    color:white;
}
.InfoyExpe{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}
.Informacion{
   box-shadow: 2px 2px 8px #999; 
   width: 48%;
   margin-right: 4%;
   float: left;
}
.InfoPersonal{
    margin-left: 2%;
    font-size: 18px;
}
.Experiencia{
   box-shadow: 2px 2px 8px #999; 
   width: 48%;
   float: left;
}
.InfoExperiencia{
    margin-left: 2%;
    font-size: 18px;
}
.Disponibilidad{
   box-shadow: 2px 2px 8px #999; 
   width: 70%;
   margin-right: auto;
   margin-left: auto;
   margin-top: 13%;
}
.InfoDisponibilidad{
    margin-left: 6%;
    font-size: 18px;
}
.Fechas{
    
    margin-right: 40%;
}
.TablaDias{
   
   margin: auto;
   
   
}
