    /*
    Flaticon icon font: Flaticon
    Creation date: 12/08/2020 16:31
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-lavadora:before { content: "\f100"; }
.flaticon-aspiradora:before { content: "\f101"; }
.flaticon-planchar:before { content: "\f102"; }
.flaticon-limpiador:before { content: "\f103"; }
.flaticon-aerosol-de-limpieza:before { content: "\f104"; }
.flaticon-aerosol-de-limpieza-1:before { content: "\f105"; }
.flaticon-seguridad-de-datos:before { content: "\f106"; }
.flaticon-empleada:before { content: "\f107"; }
.flaticon-calendario:before { content: "\f108"; }
.flaticon-limpieza:before { content: "\f109"; }
    
    $font-Flaticon-lavadora: "\f100";
    $font-Flaticon-aspiradora: "\f101";
    $font-Flaticon-planchar: "\f102";
    $font-Flaticon-limpiador: "\f103";
    $font-Flaticon-aerosol-de-limpieza: "\f104";
    $font-Flaticon-aerosol-de-limpieza-1: "\f105";
    $font-Flaticon-seguridad-de-datos: "\f106";
    $font-Flaticon-empleada: "\f107";
    $font-Flaticon-calendario: "\f108";
    $font-Flaticon-limpieza: "\f109";